a:visited{
    color:green;
    text-decoration: underline;
}
a:hover {
    color: blue;
    text-decoration: overline;
}
a:active {
    color:blue;
}
td {
    border: 2px solid black;
    text-align: center;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}