p2 {
    color: blue;
}
p3 {
    color: red;
    text-decoration: underline;
}
ol {
    color: red;
}
.litera {
    color: green;
}
ul {
    color: blue;
}
a:link {
    color:red;
    text-decoration: underline;
}
a:visited{
    color:green;
    text-decoration: underline;
}
a:hover {
    color: blue;
    text-decoration: overline;
}
a:active {
    color:blue;
}